@media (max-width: 440px) {
  main {
    min-height: calc(100vh - 130px);
    margin-top: 70px;
    margin-bottom: 60px;
  }

  .tudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
  }

  .titulo{
    gap: 18px;
  }

  .titulo h1{
    color: var(--AU700);
    font-size: 26px;
    font-weight: 600;
  }

  .titulo p{
    font-size: 16px;
    color: var(--C700);
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 90%;
  }

  #cep, #ender, #comp, #num {
    width: 75vw;
    height: 7.5vh;
    border-radius: 10px;
    border: 1px solid var(--C300);
    padding-left: 10px;
    font-size: 16px;
  }

  .forms{
    display: flex;
    flex-direction: column;
  }

  .forms label{
    color: var(--C800);
  }
  

  .but {
    width: 75vw;
    height: 7.5vh;
    border-radius: 20px;
    border: none;
    background-color: var(--AU600);
    color: var(--branco);
    font-weight: bold;
  }
}