* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --cor-principal: #08068D;
    --cor-fundo: #FFFFFF;
}
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

/*Objetos Header*/ 
header {
    background-color: var(--cor-fundo);
    display: flex;
    height: 85px;
    align-items: center;
}
header img {
    height: 40px;
    margin: 110px;
}

/*Objetos Nav*/
nav {
    background-color: var(--cor-principal);
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
}
.barra {
    display: flex;
    font-weight: 600;
    gap: 50px;
}
.barra a {
    color: #FFFFFF;
    text-decoration: none;
}

/*Objetos Main*/
main {
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 70px;
    flex-direction: column;
}

.promo {
    color: #FFFFFF;
    display: flex;
    background-color: var(--cor-principal);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 1000px;
    height: 100px;
    border-radius: 20px;
    margin-top: 30px;
    font-size: 40px;
    font-weight: 500;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    height: 350px;
    width: 1200px;
}
.um {
    grid-column: 1/2;
    border-radius: 10px;
    box-shadow: 1px 1px 30px 0px rgba(0, 0, 0, 0.2);
    margin: 15px;
}
.dois {
    grid-column: 2/3;
    border-radius: 10px;
    box-shadow: 1px 1px 30px 0px rgba(0, 0, 0, 0.2);
    margin: 15px;
}
.tres {
    grid-column: 3/4;
    border-radius: 10px;
    box-shadow: 1px 1px 30px 0px rgba(0, 0, 0, 0.2);
    margin: 15px;
}
.quatro {
    grid-column: 4/5;
    border-radius: 10px;
    box-shadow: 1px 1px 30px 0px rgba(0, 0, 0, 0.2);
    margin: 15px;
}
.cinco {
    grid-column: 5/6;
    border-radius: 10px;
    box-shadow: 1px 1px 30px 0px rgba(0, 0, 0, 0.2);
    margin: 15px;
    transition: width 0.3s;
}

/*Objetos Footer*/
footer {
    background-color: var(--cor-principal);
    display: flex;
}
@media (max-width: 480) {
    nav {
        display: none;
    }
}