@media (max-width: 440px) {
    /*Objetos Main*/
    main {
        background-color: var(--branco);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
        gap: 20px;
        margin-bottom: 100px;
    }

    .promocoes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 200px;
        width: 100vw;
        gap: 10px;
        padding: 20px;
    }
    .promo1 {
        grid-column: 1/2;
        background-color: var(--AU700);
        border-radius: 10px;
    }
    .promo2 {
        grid-column: 2/3;
        background-color: var(--AU700);
        border-radius: 10px;
    }
    .promo3 {
        grid-column: 3/4;
        background-color: var(--AU700);
        border-radius: 10px;
    }
    .promocao {
        height: 150px;
        width: 350px;
        background-color: var(--AU700);
        border-radius: 10px;
    }

    .maisVendidos {
        width: 100vw;
        margin-left: 40px;
        border-left: 5px solid var(--AU700);
    }
    .maisVendidos p {
        margin-left: 5px;
    }
    .carrossel {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }   
    .carrossel-container {
        width: 310px;
        overflow: hidden;
        touch-action: pan-y;
        cursor: grab;
    }
    .carrossel-container:active {
        cursor: grabbing;
    }
    .produtos {
        display: flex;
        height: 250px;
        gap: 15px;
        padding: 20px 0;
        padding-top: 0;
        transition: transform 0.3s ease;
    }
    .produto {
        width: 145px;
        flex-shrink: 0;
        box-shadow: 1px 1px 5px -3px black;
        border-radius: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        text-decoration: none;
    }
    .produto img {
        width: 100px;
        height: auto;
    }
    .desc {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
    }
    .nome-produto {
        font-size: 15px;
    }
    .preco {
        font-size: 12px;
        font-weight: 1000;
    }
    .produto button {
        height: 20px;
        width: 110px;
        color: var(--branco);
        background-color: var(--AU700);
        border-radius: 30px;
        margin-bottom: 20px;
        border: none;
    }
    .promocao_pequena {
        height: 110px;
        width: 350px;
        background-color: var(--AU700);
        border-radius: 10px;
    }
}