@media (max-width: 440px) {
    :root {
        --branco: #FFFFFF;
        --preto: #000000;
        --C25: #F6F9F9; --C50: #E1E6EA; --C100: #D1D9E0; --C200: #C2CCD6; --C300: #A4B3C1; --C400: #8699AC; --C500: #678098; --C600: #536679; --C700: #3E4D5B; --C800: #29333D; --C900: #151A1E;
        --AU50: #E7E7FE; --AU100: #CFCEFD; --AU200: #9F9DFB; --AU300: #6E6CF9; --AU400: #3E3BF7; --AU500: #0E0AF5; --AU600: #0B08C4; --AU700: #08068D; --AU800: #060462; --AU900: #030231;
        --VF50: #E9FBF2; --VF100: #D4F7E6; --VF200: #A9EFCC; --VF300: #7EE7B3; --VF400: #53DF99; --VF500: #26D07C; --VF600: #20AC66; --VF700: #18814D; --VF800: #105633; --VF900: #082B1A;
        --AC50: #E6F1FE; --AC100: #CEE4FD; --AC200: #9DC9FB; --AC300: #6BAEFA; --AC400: #3A93F8; --AC500: #0978F6; --AC600: #0762C7; --AC700: #054894; --AC800: #043062; --AC900: #021831;
        --AS50: #FFF4E6; --AS100: #FFE9CC; --AS200: #FFD399; --AS300: #FFC880; --AS400: #FFA733; --AS500: #FF9E1B; --AS600: #CC7400; --AS700: #995700; --AS800: #663A00; --AS900: #331D00;
        --A50: #FFFAEB; --A100: #FEF0C7; --A200: #FEDF89; --A300: #FEC84B; --A400: #FDB022; --A500: #F79009; --A600: #DC6803; --A700: #B54708; --A800: #93370D; --A900: #7A2E0E;
        --E50: #FEF3F2; --E100: #FEE4E2; --E200: #FECDCA; --E300: #FDA29B; --E400: #F97066; --E500: #F04438; --E600: #D92D20; --E700: #B42318; --E800: #912018; --E900: #7A271A;
        --S50: #ECFDF3; --S100: #D1FADF; --S200: #A6F4C5; --S300: #6CE9A6; --S400: #32D583; --S500: #12B76A; --S600: #039855; --S700: #027A48; --S800: #05603A; --S900: #054F31;
        --M1: #F4F3DE; --M2: #E0DC6A; --M3: #DF7145; --M4: #C4DFC9; --M5: #4F9358; --M6: #396439; --M7: #3B63A9; --M8: #2C2D7A;
        --Fundo:#f8f8ff;
    }
    main {
        gap: 32px; 
        margin-top: 70px; 
        padding-top: 24px; 
    }

    body {
        background-color: var(--Fundo);
    }

    .d_entregas,
    .d_pagamentos,
    .credito {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 8px; 
        width: 90%; 
        border-radius: 8px; 
    }
    .credito{
        margin-top: 30px;
        display: none;
    }
    .b_confirmar {
        background-color: var(--AU700);
        color: var(--branco);
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.02em;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%; 
        padding: 16px 12px;

        border-radius: 8px;
        border: none;
        box-sizing: border-box;
        cursor: pointer;
        text-decoration: none;

        margin-top: 30px;

    }

    .corpo_pagamento {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .voltar {
        color: var(--AC700);
        text-align: center;
    }

    .seletor,
    #seletor,
    #pagamento,
    .num_cc {
        width: 100%;
        padding: 12px;
        border-radius: 8px;

        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.02em;

        color: var(--C300);
        border: 1px solid var(--C300);
        box-sizing: border-box;
    }

    
    .seletor:valid,
    #seletor:valid,
    #pagamento:valid 
    {
        color: var(--C600);
        border: 1px solid var(--C100);
    }

    .fontep {
        font-size: 14px;
        font-weight: 300;
        color: var(--C600);
        line-height: 140%;
        letter-spacing: 0.02em;
    }

    .fonteh {
        font-size: 23px;
        font-weight: 500;
        color: var(--AU700);
        line-height: 140%;
        letter-spacing: 0.02em;
    }

    .tamanhodiv {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .obrigatorio {
        color: var(--E700);
    }

    label {
        font-size: 14px;
        font-weight: 500;
        color: var(--C600);
        line-height: 140%;
        letter-spacing: 0.02em;
    }
}