@media (max-width: 440px) {
  main {
    min-height: calc(100vh - 130px);
    margin-top: 70px;
    margin-bottom: 60px;
    font-family: 'Poppins';
  }


  .tudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
  }


  .titulo{
    gap: 18px;
    margin: 20px;
  }


  .titulo h1{
    color: var(--AU700);
    font-size: 26px;
    font-weight: 600;
  }


  .titulo p{
    font-size: 16px;
    color: var(--C700);
  }


  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: -25px;
  }


  .forms{
    display: flex;
    flex-direction: column;
    width: 90%;
  }


  #cep, #ender, #comp, #num {
    width: 100%;
    height: 7.5vh;
    border-radius: 8px;
    border: 1px solid var(--C300);
    padding-left: 10px;
    font-size: 16px;
  }




  .forms label{
    color: var(--C800);
  }


  .botao{
    width: 90%;
  }


  .but {
    width: 90%;
    height: 7.5vh;  
    border-radius: 8px;
    background-color: var(--AU700);
    color: var(--branco);
    font-weight: 650;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lab {
    display: flex;
    gap: 3px;
  }
  .lab p{
    color: var(--E700);
  }
}
