@media (max-width: 440px) {
  main {
    min-height: calc(100vh - 130px);
    margin-top: 70px;
    margin-bottom: 60px;
    font-family: 'Poppins';
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .tudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 100%;
    padding-top: 24px;
  }

  .titulo{
    gap: 18px;
    display: flex;
    flex-direction: column;
  }

  .titulo h1{
    color: var(--AU700);
    font-size: 23px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .titulo p{
    font-size: 14px;
    color: var(--C600);
    font-weight: 300;
    line-height: 140%;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
  }

  .forms{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
  }

  #cep, #ender, #comp, #num {
    width: 100%;
    background-color: var(--branco);
    border-radius: 8px;
    border: 1px solid var(--C100);
    padding: 12px;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: var(--C600);
  }

  #cep::placeholder, #ender::placeholder, #comp::placeholder, #num::placeholder {
    color: var(--C300);
    font-weight: 300;
    opacity: 1;
  }

  .forms label{
    color: var(--C600);
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .but {
    width: 100%;
    border-radius: 8px;
    padding: 16px 12px;
    background-color: var(--AU700);
    color: var(--branco);
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.02em;
    text-decoration: none;  
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lab {
    display: flex;
    gap: 3px;
  }
  .lab p{
    color: var(--E700);
    font-size: 14px;
    font-weight: 500;
  }

  .but.desabilitado {
    background-color: var(--C100);
    color: var(--branco);
    pointer-events: none;
    cursor: not-allowed;
  }

  .escondido {
    display: none;
  }

  #cep-info {
    width: 100%;
    padding: 12px 0px;
    font-size: 14px;
    font-weight: 500;
    color: var(--preto);
    text-align: left;
  }
}